
.delivery-footer {
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.card-border {
    border: 2px solid #000000;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.delivery-cart-details {
    width: 100%;
    border: 1px solid #ddd;
}

.delivery-container {
    margin-bottom: -1px;
}

.delivery-type {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-top: 5px solid #a09f9f;
    border-bottom: 1px solid #000000;
}

.delivery-type-active {
    border: 1px solid #000000;
    border-top: 5px solid #ff7913;
    border-bottom: 1px solid #ffffff;
}

.home-delivery {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.store-collection {
    border-top-right-radius: 7px;
}


.home-delivery-details {
    border: 1px solid #ddd;
}

.continue-to-payment button {
    border: 0;
    background: #ff7913;
    color: #ffffff;
    padding: 10px 50px;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

/* small device */
@media (max-width: 575px) {
    /* .delivery-cart-details{
      width: 320px;
    } */
    .continue-to-payment button {
        font-size: 16px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* .delivery-cart-details{
      width: 320px;
    } */
    .continue-to-payment button {
        font-size: 15px;
    }
}

/* medium device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* .delivery-cart-details{
      width: 350px;
    } */

}

/* large device */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .delivery-cart-details {
        width: 100%;
    }
}

/* extra large device */
@media only screen and (min-width: 1200px) {
    .delivery-cart-details {
        width: 415px;
    }
}
