@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", "Poppins", sans-serif;
    color: #000000;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.font-choto {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000000;
}

/* theming color
============== */
.primary-bg {
    background: #ffffff;
}

.secondary-bg {
    background: #f7f7f7;
}

/*==============================
top-nave bar
==============================*/
/* new css added */

/* ========= navbar ========*/
/* ====== final updated css start ==== */

.large-img-fit {
    width: 390px;
    height: 585px;
}

.large-img-fit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-navMenu {
    background-color: #ff7913;
}
#footer_icon_part {
    padding: 20px 0px;
}
footer #contact_title {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
.footer-email-input {
    font-size: 14px;
}

.footer-email-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ff7913 !important;
}

.footer-sign-up {
    background-color: #ff7913 !important;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #ff7913 !important;
}

.footer-signu-container {
    background-color: black;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.footer-signUp-content {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.footer-signUp-content span {
    color: #000;
    background-color: #fff !important;
    border: 1px solid #949494 !important;
    transition: 0.3s;
}
/* .footer-signUp-content span:hover {
    background-color: #575757 !important;
} */
.footer-logo {
    width: 150px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100%;
}

.sign-up-text {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    color: #fff;
}

/* ====== final updated css end ==== */

.size-guide-text {
    font-size: 14px !important;
}

.table-td {
    padding: 10px 15px !important;
    font-size: 12px;
    vertical-align: middle !important;
}

.table-h {
    padding: 10px 15px !important;
    font-size: 12px;
    font-weight: 700 !important;
    vertical-align: middle !important;
}

.nav-subList {
    display: flex;
    align-items: center;
    gap: 1.2rem !important;
}

.all-shop:hover {
    text-decoration: underline;
}

.catagory-navbar {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.nav-submenu-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 20px;
}
.nav-submenu-img .nav-img {
    text-align: center;
}
.nav-submenu-img .nav-img img {
    margin-left: 0px !important;
}
.nav-submenu-img p a {
    margin-top: 7px;
    display: block;
}
.collection-product {
    margin-top: -2.6rem;
    z-index: 2;
    background-color: #ffffff;
}

.department-img img {
    border-radius: 50%;
}

.shop-category-img img {
    width: 100%;
    height: 400px;
    /* object-fit: cover;
    object-position: top; */
}

.new-arrivals {
    position: relative;
}

.new-arrivals .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.5); */
    display: block;
}

.new-arrivals:hover .after {
    display: block;
    /* background: rgba(0, 0, 0, 0.5); */
}

.after-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.after-content h3 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 60px;
}

.category-image:hover {
    text-decoration: underline;
}

.trending-product {
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    line-height: 30px !important;
    color: #fafafa !important;
}

.new-arrivals .trending-after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    color: #fff;
    padding: 10px !important;
    background: linear-gradient(
        rgba(0, 0, 0, 0%),
        rgba(0, 0, 0, 60%),
        rgb(0, 0, 0, 100%)
    );

    display: block;
}

.trending-after-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    z-index: 5000 !important;
}

.dropdown-menu form input:focus {
    outline: none !important;
}

.copy-right {
    font-size: 14px !important;
}

/* CSS for lazy-loaded images */
.lazy-load {
    opacity: 0; /* Initially hide images */
    transition: opacity 0.3s ease; /* Add transition effect */
  }
.department-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.single-products {
    display: flex;
    gap: 2rem;
}

.left-side-product {
    width: 40%;
    height: 620px;
    overflow: hidden;
}

.right-side-product {
    width: 60%;
}

.single-products-name {
    font-size: 19px;
}

.ratings {
    font-size: 12px !important;
}

.ratings i {
    color: #808080ce;
}

.single-product-details .bi-check-lg {
    color: #015757;
    font-weight: 700;
}

.product-side-content li a {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    display: flex;
    padding: 15px 15px;
    margin-right: 15px;
    border-radius: 0px !important;
}

.product-side-content li a:hover {
    color: #696969 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #fff !important;
    color: #000000;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;

    border-radius: 0px !important;
}

.single-product-details h6 {
    font-size: 17px !important;
}

.social-icon i {
    font-size: 20px;
    cursor: pointer;
}

.social-icon .bi-facebook {
    color: #3b5998;
}

.social-icon .bi-instagram {
    background: -webkit-linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c1306c,
        #fd1d1d
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icon .bi-twitter {
    color: #1da1f2;
}

.social-icon .bi-pinterest {
    color: #c8232c;
}

.review-contianer {
    width: 450px;
}

/* ======== new css end =======*/
.nav-logo {
    width: 150px;
    padding-bottom: 17px;
}

.nav-search {
    position: relative;
    margin-left: 5.5rem;
    width: 300px;
}

.nav-search input[type="text"] {
    width: 100%;
    padding: 7px 35px 7px 20px;
    border: 1px solid gray;
    border-radius: 20px;
    background: #f7f7f7;
    outline-color: #1d89dd;
    font-size: 14px;
}

.nav-search input[type="text"]:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nav-search button {
    position: absolute;
    top: 6px;
    right: 15px;
    font-size: 18px;
}

.nav-user-icon {
    font-size: 30px;
}

.nav-wish-icon {
    margin-top: 2px;
    font-size: 25px;
    position: relative;
}

.nav-wish-icon span {
    background: red;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    right: 0px;
}

.nav-search-icon a {
    font-size: 23px;
}

.nav-search-icon {
    position: relative;
}

.nav-search-icon ul {
    background: #f7f7f7;
    padding: 20px 10px;
}

.nav-search-icon form input[type="text"] {
    width: 300px;
    padding: 7px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #f7f7f7;
    outline-color: #1d89dd;
}

.nav-checkout-btn {
    padding: 5px 15px;
    /* border-color: transparent; */
    border: 1px solid #000000 !important;
    font-weight: 500;
    font-size: 14px;
    /* color: #ffffff; */
    color: #000000 !important;
    background: #ffffff !important;
    border-radius: 20px;
}

.nav-checkout-btn:hover {
    transition: all linear 0.3s;
    background: #015757;
}

.nav-checkout-btn:disabled {
    /* background: #cdcdcd; */
    background: #ffffff !important;
}

/* cart box section */
.nav-cart-icon input[type="checkbox"]:checked + label .cart-container {
    display: block;
}

.nav-cart-icon label i {
    cursor: pointer;
    font-size: 25px;
}

.cart-count {
    position: absolute;
    top: 30%;
    right: 32%;
    cursor: pointer;
}

.cart-container {
    position: absolute;
    top: 35px;
    left: -290px;
    z-index: 2500;
    background: #ffffff;
    border-radius: 10px;
    display: none;
}

.cart-body {
    height: 243px;
    overflow-y: auto;
}

.cart-body::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background: #ffffff;
}

.cart-body::-webkit-scrollbar-thumb:vertical {
    background: #6d6d6d;
    border-radius: 10px;
}

.cart-details {
    width: 310px;
    border: 2px solid #d8d7d7;
    box-shadow: 0 0 2px gray;
    position: relative;
    border-radius: 10px;
}

.btn-close {
    cursor: pointer;
}

.cart-header {
    border-bottom: 1px solid #808080;
}

.cart-footer div:nth-child(1) {
    border-bottom: 1px solid #808080;
}

.view-bag-btn {
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
}

.cart-product-img img {
    width: 50px;
}

.cart-product-details,
.cart-product-price {
    font-size: 15px;
}

/*===========================
nav-menubar
==============================*/
#nav-slider {
    position: relative;
    /* overflow-x: clip;
    overflow-y: visible; */
    /* overflow-x: auto;
    overflow-y: hidden; */
    z-index: 1000;
    /* left: 425px; */
    left: 25%;
    justify-content: center;
    align-items: center;
}

#nav-slider::-webkit-scrollbar-thumb:horizontal {
    display: none;
}

.slider-btn-prev {
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: -44px;
    padding: 0px 16px 0 60px;
    z-index: 1010;
    display: none;
}

.slider-btn-prev:hover {
    transition: all 0.3s linear;
    color: #ff7913;
}

.slider-btn-next {
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: -44px;
    padding: 0px 60px 0 16px;
    z-index: 1010;
    display: none;
}

.slider-btn-next:hover {
    transition: all 0.3s linear;
    color: #ff7913;
}

.nav-menu > li > a {
    color: #000000 !important;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.nav-menu > li > span {
    color: #000000 !important;
    font-weight: 600 !important;
    padding: 10px !important;
    cursor: pointer;
}

.nav-menu > li > span > label {
    cursor: pointer;
}

.nav-menu > li > a:hover {
    color: black !important;
}

.nav-menu > li.clearance > a {
    color: #ff7913 !important;
}

.nav-menu > li > ul {
    background: #ffffff;
    padding: 10px;
    position: absolute;
    top: 35px;
    left: 0%;
    width: 500px;
    /* display: none; */
}

.nav-menu li ul li {
    font-size: 14px;
    font-weight: 600;
}

.nav-menu .new-in-text > a {
    font-size: 14px;
    font-weight: 600;
    color: #ff7913;
}

.nav-menu .new-in-text > a:hover,
.nav-submenu li a:hover,
.nav-submenu-img a:hover {
    transition: all linear 0.3s;
    text-decoration: underline;
}

.nav-submenu li a {
    font-weight: 400;
}

/* .nav-menu>li:hover ul {
    transition: all linear 0.3s;
    display: flex !important;
} */

/* .nav-menu>li>span>label:hover .sub-nav-container{
    transition: all linear 0.3s;
    display: flex !important;
} */

.nav-menu > li:hover > a {
    transition: all linear 0.3s;
    background: #ffffff;
    color: #000000 !important;
}

.nav-menu > li:hover > span {
    transition: all linear 0.3s;
    background: #ffffff !important;
    color: #000000 !important;
}

.nav-submenu-img img {
    height: 100%;
    width: 50%;
    object-fit: contain;
}

.sub-nav-container {
    max-height: 500px;
    overflow-y: auto;
}

.sub-nav-container::-webkit-scrollbar {
    width: 6px;
}

.sub-nav-container::-webkit-scrollbar-track {
    background: rgb(165, 165, 165);
}

.sub-nav-container::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

.sub-nav-container::-webkit-scrollbar-thumb:hover {
    background: #fd7e14;
}

/* product area */
.product-img img {
    background: #e9e5df;
}

/* category area */
.category-container::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: gray;
}

.category-container::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}

.category-img a {
    text-align: center;
}

.footer-list a:hover,
.account-link a:hover,
.home-terms-condition a:hover,
.category-img a:hover {
    transition: all linear 0.3s;
    text-decoration: underline;
}
.category-img {
    overflow: hidden;
    transition: all linear 0.3s;
}
.category-img:hover img {
    transform: scale(1.08);
    transition: all linear 0.3s;
}
.category-img a img {
    /* height: 190px; */
    transition: all linear 0.3s;
}

/* home-banner area */
.banner-width {
    width: 100%;
}

.top-banner {
    position: relative;
}

.top-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-banner-content button:hover {
    transition: all linear 0.3s;
    background: #ff7913 !important;
    color: #ffffff;
}

/* home-terms-condition */
.home-terms-condition {
    text-align: center;
}

.home-terms-condition a {
    font-weight: 700;
}

/* subscription container */
.subscription-container {
    width: 50%;
    margin: 0 auto;
}

.subscription-form form {
    width: 100%;
    margin: 0 auto;
}

.subscription-form form input[type="email"] {
    border: 2px solid #000000;
}

.subscription-form form input[type="submit"] {
    color: #ffffff;
    background: #007a7a;
    border-color: transparent;
    padding: 8px 10px;
    width: 100%;
    margin-top: 12px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.subscription-form form input[type="submit"]:hover {
    transition: all linear 0.3s;
    background: #ff7913;
}

.subscription-form p a {
    color: #007a7a;
    text-decoration: underline;
}

.edit-product-link a:hover,
.subscription-form p a:hover {
    transition: all linear 0.3s;
    text-decoration: none !important;
}

/*================
sign in / register
================*/
.signin-navbar li,
.signin-navbar li a {
    color: gray;
    font-weight: 500;
}

.signin-navbar li a {
    text-decoration: underline;
}

.signin-navbar li a:hover {
    transition: all linear 0.3s;
    text-decoration: none;
}

.signin-form label {
    font-weight: 500;
}

.signin-form input[type="text"],
.signin-form input[type="email"],
.signin-form input[type="password"] {
    border: 2px solid #000000;
}

.signin-form input[type="submit"] {
    color: #ffffff;
    border-color: transparent;
    padding: 8px 10px;
    width: 100%;
    margin-top: 12px;
    border-radius: 20px;
    font-weight: 500;
}

.signin-form input[type="submit"]:hover {
    transition: all linear 0.3s;
}

.forgot-pass {
    color: #ff7913;
    font-weight: 500;
    text-decoration: underline;
}

.forgot-pass:hover {
    transition: all linear 0.3s;
    text-decoration: none;
}

.form-check-input {
    border: 1px solid #a8a8a8;
}

.form-check-input:checked {
    border: 1px solid #000000;
    background-color: #000000;
}

/*=================
single product area
==================*/
.single-product-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    /* height: 470px; */
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.single-product-img::-webkit-scrollbar {
    display: none;
}

.single-product-img li img {
    width: 50px;
    height: 70px;
}

.super-small-img {
    border: 2px solid transparent;
}

.super-small-img:hover {
    opacity: 0.8;
}

.super-active {
    border-color: #000;
}

.super-large-img {
    width: 100%;
    position: relative;
}

.imgSlide {
    display: none;
}

.cursor {
    cursor: pointer;
}

.small-img {
    border: 2px solid transparent;
}

.small-img:hover {
    opacity: 0.8;
}

.active {
    border-color: #000;
}

.img-slide {
    /* width: 350px; */
    width: 100%;
    position: relative;
}

.product-view-btn {
    position: absolute;
    bottom: 0%;
    right: 0%;
    background: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    padding: 3px;
    border-color: transparent;
    z-index: 10;
}

.product-view-btn:hover {
    transition: all linear 0.3s;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.product-btn-prev {
    position: absolute;
    top: 45%;
    left: 2%;
    color: rgba(146, 146, 146, 0.8);
    font-size: 30px;
    border-color: transparent;
    background: transparent;
    z-index: 10;
}

.product-btn-next {
    position: absolute;
    top: 45%;
    right: 2%;
    color: rgba(146, 146, 146, 0.8);
    font-size: 30px;
    border-color: transparent;
    background: transparent;
    z-index: 10;
}
.product-btn-next:hover, .product-btn-prev:hover{
    color: #000;
}
/* img view slide */
.img-view {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #000000;
    z-index: 2000;
    display: none;
}

.img-box {
    width: 300px;
    height: 85vh;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    z-index: 2010;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.img-box::-webkit-scrollbar {
    display: none;
}

/* single-product: img-slider display in large window */
.carousel-inner .carousel-item {
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.slider-options {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    padding: 20px 30px;
    transform: translateX(-50%);
    z-index: 3010;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}

.zoom-slider-prev-btn,
.zoom-slider-next-btn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2020;
}

.zoom-slider-prev-btn {
    left: 10px;
}

.zoom-slider-next-btn {
    right: 10px;
}

/* product details */
.ratings .bi-star {
    opacity: 0.5;
}

.custom-fit label {
    border: 2px solid rgb(192, 191, 191);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.custom-fit input[type="radio"]:checked + label {
    border: 2px solid black;
}

.single-product-form button[type="button"] {
    background: #ff7913;
    color: #ffffff;
    border-color: transparent;
    padding: 7px 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-product-form button[type="submit"] {
    background: black;
    color: #ffffff;
    border-color: transparent;
    padding: 7px 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-product-form button[type="submit"]:hover {
    transition: all linear 0.3s;
    background: black;
}

/* disabled */
.single-product-form button[type="submit"]:disabled {
    background: #e4e4e4;
    color: #ffffff;
    border-color: transparent;
    padding: 7px 10px;
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-product-form select:hover {
    border-color: #000000;
    transition: all linear 0.3s;
}

.single-product-form select {
    font-size: 14px;
}

.stock-favourite {
    width: 84%;
}
#single-product-details_social{
    display: flex;
    align-items: center;
}
.single-product-details a {
    margin-top: 0px;
    color: #007a7a;
    font-weight: 600;
}
#questions button small{
    font-size: 12px !important;
}
.single-prod-intro small{
    font-size: 12px !important;
}
.single-product-details a:hover {
    transition: all linear 0.3s;
    text-decoration: underline;
}

/* customer review */
.customer-margin {
    margin-top: 100px;
}

.customer-margin .single-prod-intro {
    border-top: 1px solid #e4e4e4;
    border-bottom: 15px solid #e4e4e4;
}

.small-text {
    font-size: 13px;
}

.single-prod-intro img {
    width: 100%;
}

/* related product */
/* r-change */
.rel-prod-section {
    position: relative;
    overflow: hidden;
    width: 650px;
}

.prev-item {
    position: absolute;
    top: 45%;
    left: 2%;
    color: rgba(146, 146, 146, 0.8);
    font-size: 30px;
    border-color: transparent;
    background: transparent;
    z-index: 10;
}
.prev-item:hover{
    color: #000;
}

.next-item {
    position: absolute;
    top: 45%;
    right: 2%;
    color: rgba(146, 146, 146, 0.8);
    font-size: 30px;
    border-color: transparent;
    background: transparent;
    z-index: 10;
}
.next-item:hover{
    color: #000;
}
/* r-change */
.related-product {
    width: 198px;
}

/* r-change */
.related-product img {
    width: 200px;
    height: 287px;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

/* search suggestion */
#search-suggestion-container {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    z-index: 99999;
}

#search-suggestion-container li {
    padding: 5px;
    border-bottom: 1px dotted #5555;
    cursor: pointer;
}

#search-suggestion-container li:hover {
    background-color: #5555;
}

#search-suggestion-container-mbl li {
    padding: 5px;
    border-bottom: 1px dotted #5555;
    cursor: pointer;
}

#search-suggestion-container-mbl li:hover {
    background-color: #5555;
}

@media only screen and (max-width: 619px) {
    /* r-change */
    .rel-prod-section {
        width: 312px;
    }

    /* r-change */
    .related-product {
        width: 291px;
    }

    /* r-change */
    .related-product img {
        width: 291px;
        height: 418px;
    }
}

@media only screen and (min-width: 378px) and (max-width: 456px) {
    #nav-slider {
        /* left: 374px; */
        /* left: 32%; */
        /* left: 14%; */
        left: 0%;
    }
}

@media only screen and (min-width: 457px) and (max-width: 519px) {
    #nav-slider {
        /* left: 330px; */
        left: 0%;
    }
}

@media only screen and (min-width: 520px) and (max-width: 619px) {
    #nav-slider {
        /* left: 300px; */
        left: 0%;
    }
}

/* 620px - 767px */
@media only screen and (min-width: 620px) and (max-width: 767px) {
    /* r-change */
    .rel-prod-section {
        width: 650px;
    }

    /* r-change */
    .related-product {
        width: 160px;
    }

    /* r-change */
    .related-product img {
        width: 167px;
        height: 245px;
    }

    .slider-btn-prev {
        /* left: -118px;
        padding: 0 44px 0 90px; */
        left: -150px;
        padding: 0px 24px 0 120px;
    }

    .slider-btn-next {
        /* right: -118px;
        padding: 0 90px 0 44px; */
        right: -150px;
        padding: 0px 120px 0 24px;
    }

    #nav-slider {
        /* left: 260px; */
        left: 0%;
    }
}

/* small device */
@media only screen and (max-width: 767px) {
    footer {
        padding: 0px 15px;
    }

    .nav-subList {
        gap: 0.2rem !important;
    }

    .after-content h3 {
        font-size: 45px;
        line-height: 55px;
    }

    .single-product-img {
        display: none;
    }

    .shop-category-img img {
        height: 100%;
    }

    /* .img-box{
    height: 40vh;
  } */
    .cart-container {
        left: -290px;
    }

    .cart-details {
        width: 320px;
    }

    .nav-submenu-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .nav-submenu-img a img {
        width: 100%;
    }



    .left-side-product {
        width: 100%;
    }

    .right-side-product {
        width: 100%;
    }

    .nav-logo {
        width: 115px;
    }

    .sub-nav-container {
        max-height: 87vh !important;
        overflow-y: auto;
    }
}

/* medium device */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nav-menu > li > ul {
        left: -2%;
        width: 700px;
    }

    .nav-submenu-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-submenu-img img {
        height: 100%;
    }

    .single-prod-intro img {
        width: 100%;
    }

    .img-box {
        width: 400px;
        height: 95vh;
    }

    .cart-container {
        left: -302px;
    }

    .cart-details {
        width: 350px;
    }

    .after-content h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .single-products {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .left-side-product {
        width: 100%;
    }

    .right-side-product {
        width: 100%;
    }

    .slider-btn-prev {
        /* left: -136px;
        padding: 0 47px 0 138px; */
        left: -150px;
        padding: 0px 24px 0 120px;
    }

    .slider-btn-next {
        /* right: -136px;
        padding: 0 138px 0 47px; */
        right: -150px;
        padding: 0 120px 0 24px;
    }

    #nav-slider {
        /* left: 175px; */
        left: 0%;
    }

    .shop-category-img img {
        height: 100%;
    }
}

/* large device */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .nav-menu > li > ul {
        left: 2%;
        width: 900px;
    }

    .footer-w-auto {
        width: auto;
    }

    .subscription-container {
        width: 50%;
        margin: 0 auto;
    }

    .subscription-form form {
        width: 50%;
        margin: 0 auto;
    }

    .banner-width {
        width: 100%;
    }

    .signin-width {
        width: 75%;
        margin: 0 auto;
    }

    .single-prod-intro img {
        width: 80%;
    }

    .img-box {
        width: 400px;
        height: 95vh;
    }

    .cart-container {
        left: -170px;
    }

    .cart-details {
        width: 350px;
    }

    .single-products {
        display: flex;
        gap: 2rem;
    }

    .left-side-product {
        width: 50%;
    }

    .right-side-product {
        width: 50%;
    }

    .nav-menu > li:hover .sub-nav-container {
        transition: all linear 0.3s;
        display: flex !important;
    }

    .slider-btn-prev {
        /* left: -117px;
        padding: 0 64px 0 58px; */
        left: -150px;
        padding: 0px 20px 0 150px;
    }

    .slider-btn-next {
        /* right: -117px;
        padding: 0 58px 0 62px; */
        right: -150px;
        padding: 0px 150px 0 20px;
    }

    #nav-slider {
        /* left: 235px; */
        left: 0%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .nav-subList {
        gap: 0.9rem !important;
    }
}

/* extra large device */
@media only screen and (min-width: 1200px) {
    .nav-menu > li > ul {
        left: 10%;
        width: 1000px;
    }

    .nav-submenu-img img {
        height: 230px;
        width: 80%;
    }

    .footer-w-auto {
        width: auto;
    }

    .subscription-container {
        width: 50%;
        margin: 0 auto;
    }

    .subscription-form form {
        width: 50%;
        margin: 0 auto;
    }

    .banner-width {
        width: 100%;
    }

    .signin-width {
        width: 75%;
        margin: 0 auto;
    }

    .single-prod-intro img {
        width: 100%;
    }

    .img-box {
        width: 400px;
        height: 95vh;
    }

    .cart-container {
        left: -155px;
    }

    .cart-details {
        width: 350px;
    }

    .nav-menu > li:hover .sub-nav-container {
        transition: all linear 0.3s;
        display: flex !important;
    }

    .slider-btn-prev {
        /* left: 0;
        padding: 0 24px 0 70px; */
        /* left: -135px; */
        padding: 0px 24px 0 124px;
    }

    .slider-btn-next {
        /* right: 0;
        padding: 0 70px 0 24px; */
        /* right: -135px; */
        padding: 0px 124px 0 24px;
    }

    #nav-slider {
        /* left: 145px; */
        left: 0%;
    }
}

@media only screen and (min-width: 1400px) {
    #nav-slider {
        /* left: 70px; */
        left: 0%;
    }
}

@media only screen and (min-width: 1800px) {
    .sub-nav-container {
        max-height: 100vh !important;
        overflow-y: hidden;
    }
}

/* //======================== Rakibul Hasan ==================// */
.verticalflip {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
}

/* .verticalflip b{
    animation-delay: 10s !important;
    -webkit-animation-delay: 10s !important;
} */
.nav-subList .vr {
    margin-top: 7px;
}
.slider-container {
    position: relative;
    margin: 20px 0px 20px 0px;
}

/* Style for custom buttons with icons */
.custom-slick-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 98%;
}

.custom-slick-buttons {
    display: flex;
    align-items: center;
}

.custom-slick-button {
    background-color: rgba(255, 255, 255, 50%);
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
.custom-slick-button:hover {
    background-color: rgba(255, 255, 255, 100%);
}
.custom-slick-button-prev {
    margin-right: auto;
    /* Push it to the left */
    left: 2px;
}

.custom-slick-button-next {
    margin-left: auto;
    /* Push it to the right */
    right: 0;
}
#multiple_slider .custom-slick-button-next {
    right: -18px;
}
#multiple_slider h4 {
    font-size: 28px;
    font-family: "Times New Roman", Times, serif;
    padding: 25px 0px 0px 0px;
    font-weight: 500;
}
.collection-img-section .collection_img_body {
    overflow: hidden;
    height: 470px;
}
.collection-img-section img {
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    transition: all linear 0.3s;
    overflow: hidden;
}
.collection-img-section a {
    overflow: hidden;
}
.collection-img-section a h4 {
    margin: 10px 0px 5px 0px;
}
.collection-img-section a:hover img {
    transform: scale(1.08);
    transition: all linear 0.3s;
}
.collection-img-section h4 {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}
.collection-img-section p u {
    margin-bottom: 10px;
    background: #000;
    color: #fff;
    padding: 5px 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 5px;
}
.collection-img-section p u:hover {
    background: #636363;
}
.collection-img-section p {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dynamicslider-2 .category-img {
    height: 100%;
    overflow: hidden;
}
.dynamicslider-2 .category-img a img {
    object-fit: cover;
    width: 100%;
    height: 100% !important;
}
.dynamicslider-3 {
    margin-right: 15px;
}
.dynamicslider-3 .category-img {
    height: 100%;
    overflow: hidden;
    margin: 0px 0px;
    width: 105% !important;
}
.dynamicslider-3 .category-img a img {
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    aspect-ratio: 0 !important;
}
#dynamicslider_3_body .custom-slick-button-prev {
    left: 10px;
}
#dynamicslider_3_body .custom-slick-button-next {
    right: -10px;
}
/* Custom container style for responsiveness */
.add_photo_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}
#enorsia_onYou #add_photo {
    color: #000;
    font-size: 15px;
    transition: 0.3s;
    position: relative;
}
#enorsia_onYou #add_photo::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #000;
    bottom: 2px;
    position: absolute;
    left: 0px;
}
#enorsia_onYou h2 {
    font-family: "Times New Roman", Times, serif;
}
.enorsia-container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px 10px 15px;
    max-width: 100%;
    box-sizing: border-box;
}
#recent_view_title {
    font-size: 15px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 50px;
}
.details_color{
    font-size: 15px !important;
}
#recent_lg_img_body {
    overflow: hidden;
    transition: transform 1s ease;
}
#recent_lg_img_body img {
    transition: transform 1s ease;
}
#recent_lg_img_body:hover img {
    transition: transform 1s ease;
    transform: scale(1.02);
}
.footer-signUp-content {
    width: 430px;
}

.department-img img {
    border-radius: 0;
}

.slider-btn {
    font-size: 18px;
    padding: 10px 0px;
    border-radius: 0 !important;
    position: relative;
}
.slider-btn::after{
    content: "";
    height: 1px;
    width: 100%;
    background: #000;
    bottom: 8px;
    position: absolute;
    left: 0px;
}


.slider-subtitle {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slider-title {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    text-transform: capitalize;
}

.slider-desc {
    font-size: 1rem;
    margin-top: 20px;
    max-width: 300px;
    margin-bottom: 20px;
}

.banners {
    max-width: 100vw;
    overflow: hidden;
}

.dynamicslide-2-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.category-image-title {
    font-size: 1.2rem;
}

.slider-right-text {
    padding-left: 50px;
}

.share-img img {
    border-radius: 0;
    width: 100%;
    aspect-ratio: 1;
    object-position: top;
    object-fit: cover;
}

.left-align-slides .recent-slide img {
    border-radius: 0;
    width: 100%;
    aspect-ratio: 1;
    object-position: top;
    object-fit: cover;
}

.share-img div {
    position: relative;
    overflow: hidden;
}

.share-img div img {
    transition: transform 1s ease;
}

.share-img div:hover img {
    transition: transform 1s ease;
    transform: scale(1.2);
}

.shared-by {
    position: absolute;
    bottom: 0px;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: white;
    opacity: 0;
    transition: transform 1s ease;
}
#dynamicslider_3_body .category-img:hover .shared-by{
    opacity: 1;
    transition: transform 1s ease;
}
.shared-by code {
    display: block;
    color: white;
    font-size: 0.8rem;
    margin-top: 5px;
}

.mobile-search .mobile-search-container form .mobile-search-wrapper {
    position: relative;
    /* margin-bottom: 10px; */
    margin-bottom: 2px;
}

.mobile-search .mobile-search-container form .mobile-search-wrapper input {
    border-radius: 50px;
    padding-left: 40px;
}

.mobile-search .mobile-search-container form .mobile-search-wrapper button {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: black;
    padding-top: 0.5rem !important;
}

#search-suggestion-container-mbl {
    width: 362px;
    position: absolute;
    top: 40px;
    left: -10px;
    background-color: #f7f7f7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.28);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 99999;
}

/* Responsive breakpoints (adjust these as needed) */
/* Smaller than 576 screen */
@media (max-width: 576px) {
    .enorsia-container {
        max-width: 540px;
    }

    .department-img img {
        border-radius: 0;
        width: 100%;
        aspect-ratio: 1.4;
    }

    .share-title {
        font-size: 1.2rem;
    }

    .slider-btn {
        font-size: 13px;
        min-width: 150px;
        padding: 10px;
        border-radius: 0 !important;
    }

    .slider-subtitle {
        font-size: 1rem;
    }

    .dynamicslide-2-title {
        font-size: 0.75rem;
    }

    .collection-img-section p {
        font-size: 1rem;
    }

    .category-image-title {
        font-size: 0.8rem;
    }
}

.payment-container-f-icon {
    width: 54px !important;
    min-width: 0 !important;
    margin-right: 4px !important;
    margin-bottom: 4px !important;
    height: 36px !important;
}

@media (min-width: 576px) {
    .enorsia-container {
        max-width: 540px;
    }

    .department-img img {
        border-radius: 0;
        width: 120px;
        height: 120px;
    }

    .slider-btn {
        font-size: 12px;
        padding: 10px 0px;
        border-radius: 0 !important;
    }

    .slider-desc {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

/* Tablets and larger phones */
@media (min-width: 768px) {
    .enorsia-container {
        max-width: 720px;
    }

    .department-img img {
        border-radius: 0;
        width: 170px;
        height: 170px;
    }
}

/* Media query for devices below Bootstrap lg breakpoint */
@media (max-width: 991px) {


    .slick-slide img {
        width: 100%;
        /* aspect-ratio: 0.6; */
        /* padding: 5px; */
    }

    .slick-slide > div {
        margin: 0;
        padding: 0 !important;
    }
}

/* Small desktops and tablets */
@media (min-width: 992px) {
    .enorsia-container {
        max-width: 960px;
    }

    .department-img img {
        border-radius: 0;
        width: 230px;
        height: 230px;
    }
}

/* Large desktops */
@media (min-width: 1200px) {
    .enorsia-container {
        max-width: 1140px;
    }

    .department-img img {
        border-radius: 0;
        width: 280px;
        height: 280px;
    }
}

/* Extra Large desktops */
@media (min-width: 1400px) {
    .enorsia-container {
        max-width: 1320px;
    }

    .department-img img {
        border-radius: 0;
        width: 320px;
        height: 320px;
    }
}

/* Extra Large desktops */
@media (min-width: 1600px) {
    .enorsia-container {
        max-width: 1500px;
    }

    .section-gap {
        margin-top: 15px;
    }

    .department-img img {
        border-radius: 0;
        width: 320px;
        height: 320px;
    }
}

@media only screen and (max-width: 575px) {
    #nav-slider li {
        white-space: nowrap;
    }

    .new-in-section {
        margin: none;
        padding: none;
    }

    .dynamicslider,
    .dynamicslider2,
    .dynamicslider3 {
        margin: 0 -8px;
    }

    .slick-slide > div {
        padding: 0 7px;
    }

    .dynamicslider-2 {
        margin: 0 -8px;
    }

    .custom-slick-container {
        width: 100%;
        left: 0;
    }

    .new-in-section > div {
        margin-top: 0;
    }

    .department-img img {
        width: 100%;
        height: 100%;
        aspect-ratio: initial;
    }

    .new-in-section {
        margin-top: 0 !important;
    }

    .footer-signUp-content {
        width: 100%;
        max-width: 430px;
        padding: 0px 10px;
    }
}

/* Left-align the slides when there are less than 5 */
.left-align-slides .slick-track {
    justify-content: flex-start;
}

/* Optionally, hide the slide navigation arrows when there are less than 5 slides */
.left-align-slides .slick-prev,
.left-align-slides .slick-next {
    display: none;
}

.recent-dynamicslider .slick-track {
    margin-left: 0;
}

.footer-acc {
    border-bottom: 1px solid #aeaeae;
    margin-bottom: 0px;
}

.footer-acc button {
    padding: 10px 0px;
}

.dynamic-product-row > div > div {
    width: 100%;
    position: relative;
}

.dynamic-product-row > div > div > img {
    width: 100%;
    height: fit-content;
}

.dynamic-product-row > div > div > .image-desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 5px 5px 0px 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    .dynamic-product-row > div > div > .image-desc {
        font-size: 12px;
    }
}

/***** new slider part ******/
.custom-slider-image-container {
    display: flex;
    /* height: 450px; */
    height: 478px;
    position: relative;
}

.custom-slide-title {
    position: absolute;
    top: -35px;
    left: 20px;
    font-size: 56px;
    z-index: 100;
    letter-spacing: 2px;
    /* font-family: cursive; */
    font-family: cinzel;
}

.custom-slider-image-container a {
    width: 12.5%;
    /* Initial width for all images */
    transition: width 1s ease;
    height: 100%;
    /* Smooth transition */
}

.custom-slider-image-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

/* .image-container img:hover {
    width: 70%; */
/* Enlarged width on hover */
/* } */

.widest {
    width: 62.5% !important;
    object-position: top center;
    /* Initially widest image width */
}

/* slide show styling */
.custom-slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    position: relative;
}

.custom-slideshow-container .custom-slide-title {
    left: 50% !important;
    transform: translateX(-50%);
}

.mySlides {
    display: none;
    animation: fade 3s ease-in-out infinite;
    max-width: 100vw;
    overflow: hidden;
}

.mySlides img {
    width: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*********** new css of 26/11/2023 ******************/
/* #nav-slider {
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#nav-slider::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav-slider {
        left: 0;
        justify-content: start;
    }
}

@media only screen and (max-width: 375px) {
    #nav-slider {
        gap: 9px;
    }
}

@media only screen and (min-width: 390px) {
    #nav-slider {
        gap: 15px;
    }
}

@media only screen and (min-width: 420px) {
    #nav-slider {
        gap: 20px;
    }
} */

.hero-copy-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-copy-overlay h2 {
    text-transform: capitalize;
    margin-bottom: 5px;
}

.hero-copy-overlay a {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
}

@media only screen and (max-width: 820px) {
    .hero-copy-overlay h2 {
        font-size: 16px;
    }

    .hero-copy-overlay p {
        font-size: 12px;
    }

    .hero-copy-overlay a {
        font-size: 8px;
        background: black;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        margin-top: 10px;
        display: inline-block;
    }
}

/* new css for country select 27/11/2023*/
.wrapper {
    width: 60px;
    margin: 3% auto;
}

.flag-dropdown dd,
.flag-dropdown dt,
.flag-dropdown ul {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    max-width: 140px;
}
/* .flag-dropdown dd ul li a span:first-child,
.flag-dropdown dt a span span:first-child {
    background-image: url("../Frame-1-1.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 18px;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    background-size: cover;
} */
.flag-dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 0px;
    white-space: nowrap;
}
.flag-dropdown dt a img {
    position: relative;
    z-index: 1;
}
.flag-dropdown dt a span span:first-child:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}
.flag-dropdown dt a span span {
    display: inline-block;
    padding: 0;
}
.flag-dropdown dt a span span:first-child {
    padding: 0;
}
.flag-dropdown dd {
    position: relative;
}
.flag-dropdown a,
.flag-dropdown a:visited {
    color: #4a535f;
    text-decoration: none;
    outline: none;
}
.flag-dropdown a:hover {
    color: #5d4617;
}
.flag-dropdown dt a:hover,
.flag-dropdown dt a:focus {
    color: #5d4617;
}
.flag-dropdown dt a {
    position: relative;
    background: white;
    display: block;
    padding-right: 20px;
    overflow: hidden;
    width: 70px;
    border-radius: 5px;
}
.flag-dropdown dd ul {
    background: #f0f2f7;

    color: #c5c0b0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;

    width: 150px;
    border: 1px solid #c4c4c4;
    list-style: none;
    max-height: 170px;
    overflow-y: scroll;
    top: 10px;
    z-index: 2;
}

li a {
    /* font-size: 13px; */
}

li a span:nth-child(2) {
    line-height: 2em;
}
.flag-dropdown dd ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.flag-dropdown dd ul::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    /*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.flag-dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
    background: blue;
}
.flag-dropdown span.value {
    display: none;
}
.flag-dropdown dd ul li a {
    padding: 5px;
    display: block;
    font-size: 12px !important;
}
.flag-dropdown dd ul li a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
dl.flag-dropdown {
    display: inline-block;
    margin: 0px 0 0 1px;
}
dl.flag-dropdown span:nth-child(3) {
    color: rgba(0, 0, 0, 0.4);
}
dl.flag-dropdown > span:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
dl.flag-dropdown span:nth-child(3) {
    float: right;
}
dl.flag-dropdown dt span:nth-child(2) {
    color: rgba(0, 0, 0, 1);
    font-size: 13px;
    line-height: 1.6em;
    margin-top: 5px;
}
dl.flag-dropdown dt span:nth-child(3) {
    display: none;
}
.countryFlag {
    padding: 0;
    background-image: url("https://i.imgur.com/OQiDoZe.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 4px;
    width: 16px;
    cursor: pointer;
    white-space: nowrap;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #bfbfc1 #b6b6b6 #969696;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
}

@media only screen and (max-width: 767px) {
    .wrapper {
        width: 25px;
        margin-bottom: 2px;
    }
}
/*.countryFlag:before {*/
/*-moz-border-bottom-colors: none;*/
/*-moz-border-left-colors: none;*/
/*-moz-border-right-colors: none;*/
/*-moz-border-top-colors: none;*/
/*background: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%) repeat scroll 0 0 transparent;*/
/*border-color: #BFBFC1 #B6B6B6 #969696;*/
/*border-image: none;*/
/*border-radius: 2px 2px 2px 2px;*/
/*border-style: solid;*/
/*border-width: 1px;*/
/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);*/
/*display: block;*/
/*overflow: hidden;*/
/*padding-right: 20px;*/
/*position: relative;*/
/*width: 25px;*/
/*}*/

@media only screen and (max-width: 767px) {
    .single-products-name {
        font-size: 16px !important;
    }
}


/********* Select css code **********/
.select_body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px 0px 20px 0px;
}
.select_body .form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none !important;
    margin-bottom: 15px;
}

.select_body .form-control:focus {
    border: 1px solid #34495e;
}

.select2.select2-container {
  width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 40px;
    margin-bottom: -1px;
    outline: none !important;
    transition: all .15s ease-in-out;
    margin-right: -1px;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
  color: #333;
  line-height: 38px;
  padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
  background: transparent;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 38px;
  width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
  background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
  border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
  height: auto;
  min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  padding: 0 4px;
  line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

.select2-container .select2-dropdown {
  background: transparent;
  border: none;
  margin-top: 0px;
}

.select2-container .select2-dropdown .select2-search {
  padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
  outline: none !important;
  border: 1px solid #ddd !important;
  border-bottom: none !important;
  padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
  padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #ddd;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #3498db;
}
.select2-results__option {
    font-size: 14px !important;
}
.price_body{
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 40px;
    margin-bottom: -1px;
    outline: none !important;
    transition: all .15s ease-in-out;
    margin-right: -1px;
    cursor: pointer;
    position: relative;
}
.price_body .price_id{
    color: #333;
    line-height: 38px;
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price_body .price_div{
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160%;
    right: -1px;
    padding: 10px 10px;
    cursor: auto;
}
.price_top{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.price_top p{
    font-size: 15px;
    text-align: center;
}
.price_top i{
    position: absolute;
    top: -7px;
    right: 0px;
    font-size: 22px;
    cursor: pointer;
}
.price_top i:hover{
    color: red;
}
.price_div .price_input{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.price_div .price_input input{
    border-radius: 0px !important;
}
.price_div .price_input label{
    font-size: 15px;
    font-weight: 500;
}
.price_filter{
    width: 100%;
}
.price_filter button{
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background: #000000;
    color: #fff;
    font-size: 14px;
    padding: 5px 0px;
    transition: .3s;
}
.price_filter button:hover{
    background: #333333;
}
/********* End Select css code **********/
