/******** Button design ********/
#toggleFilterBtn{
    background: #111827;
    border: none;
    border: 1px solid #696e76;
    height: 45px;
    width: 45px;;
    border-radius: 5px;
    margin-right: 10px;
}
#toggleFilterBtn i{
    color: #bababa;
    font-size: 17px;
}
#filterSection{
    display: none;
}
/* #filterSection{
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}
#filterSection.show {
    max-height: 30px;
    opacity: 1;
}
.hidden {
    display: none !important;
} */
.bi_receive{
    color: #bababa;
    font-size: 17px;
}
.fa_discount{
    color: #bababa;
    font-size: 17px;
}
.fa_ean_num{
    color: #bababa;
    font-size: 17px;
}
.fa_copy{
    color: #bababa;
    font-size: 18px;
}
.fa_edit{
    color: #bababa;
    font-size: 17px;
}
.bi_active{
    color: #3AC47D;
    font-size: 17px;
}
.bi_inactive{
    color: #D92550;
    font-size: 17px;
}
.bi_return{
    color: #D92550;
    font-size: 18px;
}
.bi_delete{
    color: #bababa;
    font-size: 17px;
}
.bi_print{
    color: #bababa;
    font-size: 17px;
}
.bi_view{
    color: #bababa;
    font-size: 18px;
}
.bi_save{
    color: #bababa;
    font-size: 18px;
}
.bi_send{
    color: #bababa;
    font-size: 18px;
}
.bi_reply{
    color: #bababa;
    font-size: 18px;
}
.bi_label{
    color: #bababa;
    font-size: 18px;
}
.bi_qr_code{
    color: #bababa;
    font-size: 17px;
}
.bi_truck{
    color: #bababa;
    font-size: 18px;
}
.bi_update{
    color: #bababa;
    font-size: 17px;
}
.bi_invoice{
    color: #bababa;
    font-size: 18px;
}
.bi_repeat{
    color: #bababa;
    font-size: 17px;
}
.bi_stock{
    color: #bababa;
    font-size: 17px;
}

.toggle_item {
    display: none;
    position: absolute;
    background: #1F2937;
    border: 1px solid #ccc;
    padding: 10px 15px;
    z-index: 999;
    border-radius: 5px;
    right: 3px;
    top: 35px;
}
.toggle_item li{
    color: #bababa;
}
.toggle_item li a{
    color: #bababa;
}
.bi_undo{
    color: #bababa;
    font-size: 18px;
}
.toggle_item ul{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: 0px;
}

.toggle_items {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.toggle_icon{
    background: #1F2937;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}
/******** Button design ********/
.bg-head {
    border: 1px dotted #16aaff;
    color: #dadada;
    font-size: 14px;
    font-weight: 600;
    background-color: #121a2b;
    padding: 0px 15px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px !important;
}
.bg-subhead {
    color: #dadada;
    border: 1px dotted #8c97ae;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 15px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 18px !important;
}

.new_search .form-control::-webkit-file-upload-button {
    background-color: #374151;
    color: #cecccc;
    height: 45px;
}

.new_search .form-control::-moz-file-upload-button {
    background-color: #374151;
    color: #cecccc;
    height: 45px;
}
.new_search .form-control:hover::-webkit-file-upload-button {
    background: #374151;
    color: #374151;
}

.new_search .form-control:hover::-moz-file-upload-button {
    background: #374151;
    color: #374151;
}
/******* Notification****/
.admin_notification {
    position: relative;
    margin-right: 20px;
}
.admin_notification i {
    font-size: 17px;
    cursor: pointer;
}
.admin_notification span {
    position: absolute;
    top: -13px;
    left: 5px;
    background: #cd4e20;
    border-radius: 50%;
    padding: 3px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.notification_body {
    position: absolute;
    min-width: 200px;
    border: 1px solid #ccc;
    left: -10px;
    border-radius: 5px;
    padding: 5px;
}
.admin_notification .hidden {
    display: none;
}
.notification_body ul {
    margin: 0;
    padding: 0;
}
.notification_body ul li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin: 5px;
    padding-left: 5px;
    border-radius: 3px;
    font-size: 13px;
}
.notification_body ul li:hover {
    background: #cd4e20;
    color: #fff;
}
/******* End Notification****/
a:hover {
    text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flex-center {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}
.filter_button.new_same_item {
    margin: 0px 15px 0px 0px;
}
/******* For Top Title*****/

.top_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 15px 15px;
}

.top_title .tlt-btn,
.filter_button button {
    background: #1a2f5e;
    color: #fff;
    transition: 0.3s;
    height: 45px;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    border-color: #696e76;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.1px;
}

.top_title .tlt-btn i,
.filter_button button i {
    margin: 0 5px;
    font-size: 12px;
    position: relative;
    top: 1px;
}

.top_title .tlt-btn:focus,
.filter_button button:focus {
    background: #112248;
    color: #fff;
}

.top_title .tlt-btn:hover,
.filter_button button:hover {
    background: #112248;
    color: #fff;
    border-color: #696e76;
}
.top_title_body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.top_title_body_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}
 .top_title>div{
        display: flex;
    }
.top_title_icon i {
    color: #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid #696e76;
    padding: 10px;
    border-radius: 5px;
}
.top_title_breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.top_title_breadcrumb i{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin: 0px 3px 0px 3px;
}
.top_title_breadcrumb span {
    color: #bababa;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 300;
}
.top_title_breadcrumb a{
    color: #bababa;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.top_title_breadcrumb a:hover{
    text-decoration: none;
}
.top_title_breadcrumb span a:hover{
    color: #bababa;
}
.top_title h6 {
    color: #dadada;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.width_auto button {
    width: auto;
}

/****** Filter Section *********/
.filter_section,
.card-dark {
    background: #1f2937;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px !important;
    color: #c5c5c5;
    font-size: 15px;
}

.filter_section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: flex-end;
}

/********* new_search*******/
.new_search input {
    height: 45px;
    background: #374151;
    border: 1px solid #4f5154;
    color: #cacaca;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.1px;
}

.new_search input::placeholder {
    color: #c5c5c5;
}

.new_search input:focus {
    background-color: transparent !important;
    color: #fff;
}

/******download_button_with_icon ******/
.download_button_with_icon button,
.green-btn-box button {
    background: #04c185;
    color: #fff;
    transition: 0.3s;
    height: 45px;
    padding: 0 30px;
    width: auto;
}

.download_button_with_icon button:focus,
.green-btn-box button:focus {
    background: #04c185;
    color: #fff;
}

.download_button_with_icon button:hover,
.green-btn-box button:hover {
    background: #059669;
}

/******Add_button_with_icon ******/
.add_button_with_icon button {
    background: #04c185;
    color: #fff;
    transition: 0.3s;
    height: 45px;
}

.add_button_with_icon button span {
    margin-right: 10px;
}

.add_button_with_icon button:focus {
    background: #04c185;
    color: #fff;
}

.add_button_with_icon button:hover {
    background: #059669;
}

/******Delete_button_with_icon ******/
.delete_button_with_icon button {
    background: #8f141b;
    color: #fff;
    transition: 0.3s;
    height: 45px;
}

.delete_button_with_icon button span {
    margin-right: 10px;
}

.delete_button_with_icon button:focus {
    background: #ba141d;
    color: #fff;
}

.delete_button_with_icon button:hover {
    background: #ba141d;
}
.new_same_item .fa-filter {
    height: 0.8em !important;
    margin-right: 6px !important;
}
.new_search textarea, .new_search textarea:focus{
    font-size: 14px !important;
    font-weight: 300 !important;
}
.reset_button.new_same_item a {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/***** Select 2*****/
.new_select_field .select2 {
    /* height: 45px !important; */
    width: 100% !important;
    background: #374151 !important;
}

.new_select_field .form-control {
    background-color: #374151 !important;
    height: 45px !important;
    border: 1px solid #4f5154 !important;
    color: #c5c5c5 !important;
    font-size: 14px !important;
    font-weight: 300 !important;
}

.select2-dropdown {
    background-color: #374151 !important;
}

.select2-results__option {
    color: white !important;
    font-size: 13px !important;
    font-weight: 300 !important;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background: transparent;
}

.select2-container--default
    .select2-results
    > .select2-results__options
    li:hover {
    background-color: #1f2937 !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #5897fb !important;
}

.new_select_field .select2-container .select2-selection--single {
    height: 45px !important;
    background-color: #374151 !important;
    border: 1px solid #4f5154 !important;
}

.new_select_field
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 45px;
    color: #c5c5c5;
    font-size: 14px;
    font-weight: 300;
}

.new_select_field
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 46px;
}

.new_same_item .select2-container--default .select2-selection--multiple {
    /* background-color: white; */
    border: 1px solid #4f5154 !important;
    border-radius: 4px;
    cursor: text;
    height: 45px !important;
    background-color: transparent !important;
    line-height: 32px !important;
}
.new_same_item
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    background-color: transparent !important;
}
.new_same_item
    .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    color: #aa0404;
}

/******** Datepicker *********/

.date_picker input {
    height: 45px;
    background: #374151;
    border: 1px solid #4f5154;
}

.date_picker input::placeholder {
    color: #c5c5c5;
}

.date_picker input:focus {
    background-color: transparent !important;
    color: #fff;
}

.date_picker .form-control {
    color: #c5c5c5 !important;
}

/******** Filter Button *********/
/* .filter_button button {
    background: #037c56;
    color: #fff;
    transition: 0.3s;
    height: 45px;
}
.filter_button button:focus {
    background: #04c185;
    color: #fff;
}
.filter_button button:hover {
    background: #059669;
} */
/****** Reset Button******/
.reset_button button,
.reset_button a {
    background: #374151;
    color: #fff;
    transition: 0.3s;
    font-size: 1rem;
    height: 45px;
    padding: 0 25px;
    border-color: #696e76;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.1px;
}

.reset_button button i,
.reset_button a i {
    margin: 0 5px;
}

.reset_button button:focus,
.reset_button a:focus {
    background: #374151;
    color: #fff;
}

.reset_button button:hover,
.reset_button a:hover {
    background: #374151;
    color: #fff;
    border-color: #696e76;
}

/****** New table ***********/
.new_table {
    margin: 20px 0px;
}

.new_table table {
   color: #c7c7c7;
    font-size: 16px;
    font-weight: 300;
}

.new_table table > thead {
    background-color: #f0f0f0 !important;
}

.new_table table thead tr {
    border: 1px solid #9b9b9b !important;
}

.new_table table thead tr th {
    text-transform: uppercase;
    font-size: 13px !important;
    color: #c7c7c7 !important;
    font-weight: 500 !important;
}

.new_table table .new_table_status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.new_table table .new_table_status span {
    border-radius: 15px;
    color: #fff;
    padding: 1px 7px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
}

.new_table table .table_pending span {
    background: #ca8a04;
}

.new_table table .table_processing span {
    background: #1e40af;
}

.new_table table .table_delivered span {
    background: #065f46;
}

.new_table table .table_cancel span {
    background: #991b1b;
}

.new_table .table_dropdown select {
    background: #374151;
    color: #c3c3c3;
    padding: 3px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9b9b9b !important;
    font-size: 14px;
}

.new_table .table_dropdown select:focus {
    border: none;
}

.new_table .table_icon i {
    cursor: pointer;
    font-size: 18px;
    margin: 0px 5px;
}

.new_table .table_pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 25px;
}

.new_table .pagination_total_text p {
    text-transform: uppercase;
    color: #c3c3c3;
    font-size: 13px;
}

.new_table .table_pagination nav {
    background-color: transparent !important;
}

.new_table .table_pagination .pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.new_table .table_pagination .pagination li a {
    background: transparent !important;
    color: #c3c3c3;
    border: 1px solid #9b9b9b !important;
    font-size: 13px;
}
.new_table .table_pagination .pagination li span{
    font-size: 13px;
}

.new_table .table_pagination .pagination li a:hover,
.page-item.disabled .page-link,
.pagination .disabled.page-number .page-link {
    background: #374151 !important;
}

.new_table .table_pagination .pagination .active a {
    background: #059669 !important;
}

.page-item.active .page-link,
.pagination .active.page-number .page-link {
    background-color: #059669;
    border-color: #059669;
}

.page-item.disabled .page-link,
.pagination .disabled.page-number .page-link {
    color: #fff;
    border-color: #9b9b9b;
}

.input_info_text span {
    height: 45px;
    border: 1px solid #4f5154;
    background: #374151;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_info_text span i {
    font-size: 25px;
}

.custom-tooltip .tooltip-inner {
    max-width: 400px;
    white-space: normal;
    padding: 15px 10px;
}

/**** Export & Import Button ******/

.export_import_button button {
    border: 1px solid#565f6e;
    color: #fff;
    transition: 0.3s;
    height: 45px;
    background: transparent;
    padding: 0px 15px;
    border-radius: 5px;
}

.export_import_button button:focus {
    background: #374151;
    color: #fff;
}

.export_import_button button:hover {
    background: #374151;
}

.custom-switch .custom-control-label::before {
    left: 0;
    width: 3rem;
    height: 1.5rem;
    border-radius: 12px;
}

.custom-switch .custom-control-label::after {
    left: 2px;
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: 50%;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.35rem);
}

.form-group {
    margin-bottom: 1.5rem;
}

.error {
    color: #d1474f;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 500;
}

.d-flex .error {
    order: 3;
}
.new_search label{
    font-size: 14px;
    font-weight: 300;
}
.new_select_field label{
    font-size: 14px;
    font-weight: 300;
}
.form-group label{
    font-size: 14px;
    font-weight: 300;
}
.form-group button{
    font-size: 14px !important;
    font-weight: 300 !important;
}
.submit-btn{
    font-size: 14px !important;
    font-weight: 300 !important;
}
.add_more_btn{
    font-size: 14px !important;
    font-weight: 300 !important;
}
/******* Selling_Chart********/
.selling_chart_form .image-preview {
    width: 150px;
    height: 150px;
    display: none;
    border: 2px solid #ddd;
    margin-top: 10px;
}

#input_with_preview input[type="file"] {
    background-color: #374151;
    cursor: pointer;
    line-height: 31px;
}

#selling_chart_table .new_table table thead tr th {
    text-align: center;
}

#selling_chart_table .new_table table tbody tr td input {
    width: 100% !important;
}

#selling_chart_table .new_table table tbody tr td:nth-child(1) input {
    width: 100% !important;
}

#selling_chart_table .new_table table tbody tr td:nth-child(2) input {
    width: 100% !important;
}

/* #selling_chart_table table input {
    height: auto !important;
} */

#selling_chart_table .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#selling_chart_table .table-responsive::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

#selling_chart_table .table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#selling_chart_table .table-responsive::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99);
    border-radius: 4px;
}

#selling_chart_table .table-responsive::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
}

#selling_chart_table table {
    width: 120% !important;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

#selling_chart_table th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}
.selling_chart_form input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    outline: none;
    background-color: #374151;
    cursor: pointer;
}

/* Checkbox background when checked */
.selling_chart_form input[type="checkbox"]:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

/* Optional: Add a checkmark when checked */
.selling_chart_form input[type="checkbox"]:checked::after {
    content: "\2713";
    color: white;
    font-size: 12px;
    display: block;
    text-align: center;
    line-height: 15px;
}

.size-row:first-child .close_btn {
    display: none;
}

.quick-size-card tr:first-child .delete-row {
    display: none;
}
.create_selling_chart_tbl .error {
    font-size: 11px;
}
.table .new_select_field .select2 {
    height: 30px !important;
}
.table .new_select_field .select2-container .select2-selection--single {
    height: 30px !important;
}
.table
    .new_select_field
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 27px !important;
    font-size: 13px;
}
.table
    .new_select_field
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 26px !important;
}
.table .new_select_field .form-control {
    height: 30px !important;
    padding: 0 8px;
    font-size: 13px;
}

/****** Role page css*******/
#role_body .accordion-item {
    border-radius: 5px;
}
.role_input_part {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    background: #111827;
    min-width: 380px;
}
.role_input_part input {
    background: transparent;
    border: none;
    color: #f0f0f0;
    height: 45px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.1px;
}
.role_input_part .btn:active {
    border-color: transparent !important;
}
.role_input_part button i {
    color: #f0f0f0;
}
.role_input_part input::placeholder {
    color: #bbbbbb;
}
.role_input_part input:focus {
    color: #bbbbbb;
    background-color: transparent;
    border-color: #a9bcee;
    outline: 0;
    box-shadow: none;
}
#accordionFlushExample .role_items {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 0;
    padding: 0;
}
#accordionFlushExample .role_items li {
    list-style: none;
    /* width: 22.5% !important;
    margin: 15px;
    display: inline-block; */
}
#accordionFlushExample .role_items li label{
    font-size: 13px;
}
.role_accordion_body .accordion-item {
    border: 0px !important;

}
#role_body .accordion-item {
    color: var(--bs-accordion-color);
    background-color: transparent;
     border: none;
}
#role_body .accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #111827;
    min-height: 80px;
}
#role_name input {
    background: #111827;
    color: #b9b9b9;
    border: none;
    height: 45px;
}
#role_name input:focus {
    box-shadow: none;
}
#role_body .accordion-header button {
    width: 80%;
    background: #111827;
    color: #bbbbbb;
    margin-right: 10px;
    font-size: 14px;
}
#role_body .accordion-button:not(.collapsed) {
    color: #b9b9b9;
    background-color: transparent !important;
    box-shadow: none !important;
}
#role_body .accordion-button:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}
#role_body .accordion-header .form-switch {
    width: 0%;
    z-index: 9;
    margin-right: 10px;
}
#role_body .accordion-button::after {
    width: 0px !important;
}
#role_body .form-check-input {
    margin-top: 5px !important;
    height: 0.49em !important;
    width: 1em !important;
    margin-left: -2em !important;
}
.role_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.role_top h4 {
    font-size: 18px;
}
#role_body .accordion-body ul {
    margin: 0;
    padding: 0px 0px 0px 15px;
}
#role_body .accordion-body ul li {
    list-style: none;
    margin-bottom: 8px;
    width: auto !important;
}
#role_body .accordion-body ul li:last-child {
    margin-bottom: 0px;
}
#role_body .accordion-body ul {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 0px;
}
#role_body .accordion-body ul::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#role_body .accordion-body {
    background: #0f1114 !important;
}
#role_body .accordion-body ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

#role_body .accordion-body ul::-webkit-scrollbar-thumb {
    background-color: rgb(99, 99, 99);
    border-radius: 4px;
}

#role_body .accordion-body ul::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
}
#role_body .accordion-body ul li {
    color: #b9b9b9;
}
#role_body .accordion-body ul li .form-check-input {
    margin-top: 4px !important;
    height: 1em !important;
    width: 2em !important;
    margin-left: -35px !important;
}
/****** End Role page css*******/


.dark-modal .modal-header {
    background-color: #374151;
    color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid #080c13;
}

.dark-modal .modal-dialog {
    box-shadow: none;
}
.dark-modal .close {
    color: white;
}

.dark-modal .modal-content {
    background-color: #374151;
    color: white;
}

.dark-modal .modal-content input,
.dark-modal .modal-content select,
.dark-modal .modal-content textarea {
    background-color: #3d4558;
    color: white;
}

.dark-modal .modal-footer {
    background-color: #374151;
    color: white;
    border-top: 1px solid #080c13;
}


/******** Responsive*********/
@media (max-width: 1599px) {
    .filter_section {
        grid-template-columns: repeat(4, 1fr);
    }
    #accordionFlushExample .role_items {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;
    }
    .reset_button button, .reset_button a {
        padding: 0 15px;
    }
}

@media (max-width: 1365px) {
    .filter_section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
    .role_input_part {
        min-width: 350px;
    }
    #accordionFlushExample .role_items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    #selling_chart_table table {
        width: 218% !important;
    }
    .role_top {
        justify-content: center;
        flex-direction: column;
    }
    .role_search {
        margin: 15px 0px;
    }
}

@media (max-width: 767px) {
    .filter_section {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 10px 10px;
    }

    .new_table table thead tr th:nth-child(1) {
        min-width: 92px;
        text-align: center;
    }

    .new_table table thead tr th:nth-child(2) {
        min-width: 150px;
    }

    .new_table table thead tr th:nth-child(3) {
        min-width: 150px;
    }

    .new_table table thead tr th {
        min-width: 100px;
    }
    .top_title {
        padding: 15px;
    }
    .top_title h6 {
        font-size: 16px;
    }
    .top_title .tlt-btn,
    .filter_button button,
    .reset_button button,
    .reset_button a,
    .export_import_button button,
    .export_import_button a,
    .export_import_button .export_button {
        height: 40px;
        padding: 0px 12px;
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .bg-head{
        font-size: 16px;
        padding: 5px 10px;
    }
    #no_other_button{
        flex-direction: column !important;
    }
    #toggleFilterBtn {
        margin-top: 0px;
    }
   .no_other_btn #toggleFilterBtn {
        margin-top: 0px;
    }
    .top_title>div{
        display: flex;
    }
    .top_title .tlt-btn{
        height: 45px;
    }
    .top_title_body{
        margin-bottom: 15px;
    }
    .card-dark {
        padding: 20px;
        margin-top: 25px;
    }
    .top_title {
        flex-direction: column;
        align-items: flex-start;
    }
     .no_other_btn {
        margin-left: 0px;
        margin-top: 10px;
    }
    /* .top_title .tlt-btn {
        margin-top: 15px;
        margin-left: 55px;
    } */
    .role_search {
        width: 95%;
        margin: 15px 0px;
    }
    .role_input_part {
        min-width: 90%;
    }
    #accordionFlushExample {
        width: 100%;
        margin: 0 auto;
    }
    #role_body .accordion-item {
        width: 95%;
        margin: 0 auto;
    }
    #accordionFlushExample .role_items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 465px) {
    .filter_section {
        grid-template-columns: repeat(1, 1fr);
    }
}
