
    /******** Reviews Part **********/
    .reviews_title {
        margin: 5px 0px 15px 0px;
        font-size: 18px;
        font-weight: 600;
        color: #363636;
    }

    .review_body {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 25px 0px 15px 0px;
        margin-top: -1px;
    }

    .review_name {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .review_icon i {
        margin-right: 10px;
        font-size: 20px;
        color: #363636;
    }

    .review_name h5 {
        color: #262525;
        font-size: 17px;
    }

    .review_star {
        margin-bottom: 7px;
    }

    .review_star i {
        font-size: 13px;
        color: #262525;
    }

    .review_text p {
        color: #767676;
        font-size: 15px;
    }

    .review_loadMore {
        margin: 20px 0px 5px 0px;
    }

    .review_loadMore button {
        border: none;
        background: transparent;
        font-size: 15px;
        color: #444444;
        text-decoration: underline;
    }

    .review_loadMore button:hover {
        color: #767676;
    }

    .review_image {
        margin-top: 15px;
    }

    .review_image ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .review_image ul li {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .review_image img {
        width: 110px;
        height: auto;
    }

    /******** End Reviews Part **********/



    .color-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .color-img {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .rateyo:not(:disabled) .rateyo-ghost-full,
    .rateyo:not(:disabled) .rateyo-ghost-half {
        color: gold;
    }

    .switch-field {
        display: grid;
        overflow: hidden;
        gap: 8px;
        margin-top: 5px;

    }

    .switch-field input {
        position: absolute !important;
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field label {
        background-color: #ffffff;
        color: black;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        border: 1px solid black;
        transition: all 0.1s ease-in-out;
        padding: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* css */

    .switch-content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .switch-content::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgb(163, 161, 161);
    }

    .switch-content::after {
        transform: rotate(-45deg);
    }

    .switch-field label:hover {
        cursor: pointer;
    }

    .switch-field input:checked+label {
        background-color: black;
        color: white;
        box-shadow: none;
    }

    .zoomContainer {
        z-index: 9999 !important;
    }

    /* super-zoom */
    .super-zoom-container {
        position: fixed;
        top: 2px;
        left: 5px;
        height: 100vh;
        width: 95%;
        background: #ffffff;
        box-shadow: 0 0 10px #adadad;
        z-index: 9999;
        display: none;
        padding-left: 10px;
        overflow: hidden;
    }

    .large-image-container {
        width: 1200px !important;
        height: 790px !important;
        overflow: hidden;
        position: relative;
        cursor: move;
    }

    .zoom-slider-options {
        width: 10px;
        position: absolute;
        top: 0%;
        right: 20px;
        padding: 20px 30px;
        z-index: 3010;
        display: none;
    }

    .zoom-slider-options button {
        color: #000000;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px #adadad;
        padding: 2px 6px;
        font-size: 18px;
    }

    .scroll-image {
        width: 150% !important;
        position: absolute;
        top: 0;
        left: 0;
    }

    .super-single-img {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }

    .super-single-img::-webkit-scrollbar {
        display: none;
    }

    .super-single-img li img {
        width: 50px;
        height: 70px;
    }

    .super-zoom-img-area {
        width: 100%;
    }

    .scroll-image {
        width: 100%;
    }

    .size_q {
        grid-template-columns: repeat(6, 70px);
    }

    .size_a {
        grid-template-columns: repeat(6, 40px);
    }

    #videoModal .modal-content {
        border-radius: 0px !important;
    }

    #videoModal .modal-body {
        height: 650px;
        overflow: hidden;
    }

    #videoModal h1 {
        font-size: 17px !important;
    }

    #videoModal .modal-body iframe {
        height: 600px !important;
    }

    @media only screen and (max-width: 767px) {
        #videoModal .modal-body iframe {
            height: 66vh !important;
            width: 100%;
        }

        #videoModal h1 {
            font-size: 15px !important;
        }

        #videoModal .modal-body {
            height: 75vh;
        }

        /****** review ********/
        .review_body {
            padding: 20px 0px;
        }

        .review_name {
            margin-bottom: 10px;
        }

        .review_loadMore {
            margin-bottom: 30px;
        }

        .reviews_title {
            margin: 15px 0px 15px 0px;
            ;
        }

        /****** End review ********/

        .size_q {
            grid-template-columns: repeat(3, 70px);
        }

        .size_a {
            grid-template-columns: repeat(6, 30px);
        }

    }

    @media only screen and (min-width: 767px) and (max-width: 1400px) {
        .size_q {
            grid-template-columns: repeat(3, 70px);
        }
    }

    @media only screen and (min-width: 767px) and (max-width: 800px) {


        .large-image-container {
            width: 750px !important;
            height: 700px !important;
        }
    }

    /* media query for super zoom image */
    @media only screen and (min-width: 801px) and (max-width: 900px) {
        .super-zoom-container {
            height: 415px;
            width: 800px;
        }

        .large-image-container {
            width: 800px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 901px) and (max-width: 1000px) {
        .super-zoom-container {
            height: 468px;
            width: 900px;
        }

        .large-image-container {
            width: 900px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 1001px) and (max-width: 1100px) {
        .super-zoom-container {
            height: 522px;
            width: 1000px;
        }

        .large-image-container {
            width: 1000px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 1101px) and (max-width: 1200px) {
        .super-zoom-container {
            height: 572px;
            width: 1100px;
        }

        .large-image-container {
            width: 1100px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 1201px) and (max-width: 1300px) {
        .super-zoom-container {
            width: 1150px;
            height: 600px;
        }

        .large-image-container {
            width: 1150px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 1301px) and (max-width: 1400px) {
        .super-zoom-container {
            width: 1250px;
            height: 652px;
        }

        .large-image-container {
            width: 1250px !important;
            height: 700px !important;
        }
    }

    @media only screen and (min-width: 1401px) and (max-width: 1500px) {
        .super-zoom-container {
            width: 1350px;
            height: 703px;
        }

        .large-image-container {
            width: 1350px !important;
            height: 800px !important;
        }
    }

    @media only screen and (min-width: 1501px) and (max-width: 1800px) {
        .super-zoom-container {
            width: 1450px;
            height: 755px;
        }

        .large-image-container {
            width: 1450px !important;
            height: 1000px !important;
        }
    }

    @media only screen and (min-width: 1801px) and (max-width: 2100px) {
        .super-zoom-container {
            width: 1750px;
            height: 915px;
        }

        .large-image-container {
            width: 1750px !important;
            height: 1200px !important;
        }
    }

    @media only screen and (min-width: 2101px) and (max-width: 2400px) {
        .super-zoom-container {
            width: 2050px;
            height: 1065px;
        }

        .large-image-container {
            width: 2050px !important;
            height: 1300px !important;
        }
    }

    @media only screen and (min-width: 2401px) and (max-width: 2700px) {
        .super-zoom-container {
            width: 2350px;
            height: 1225px;
        }

        .large-image-container {
            width: 2350px !important;
            height: 1350px !important;
        }
    }

    @media only screen and (min-width: 2701px) and (max-width: 3000px) {
        .super-zoom-container {
            width: 2650px;
            height: 1380px;
        }

        .large-image-container {
            width: 2650px !important;
            height: 1500px !important;
        }
    }

    .style-9::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 3px;
    }

    .style-9::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #F5F5F5;
    }

    .style-9::-webkit-scrollbar-thumb {
        background-color: #020202;
        border-radius: 3px;
    }
