#influncer_body {
    margin-bottom: 30px;
}
.influncer_title h1{
    font-size: 30px;
    margin: 20px 0px 15px 0px;
    color: rgb(70, 70, 70);
}

.influncer_text p{
    font-size: 16px;
    margin-bottom: 10px;
    color: rgb(70, 70, 70);
}
.influncer_upload {
    max-width: 250px;
    margin: 15px auto 5px;
}
.influncer_upload a {
    background: #272727;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    display: block;
    font-size: 15px;
}
#influncer_body .gallery_items {
    height: 100% !important;
}

/******* Responsive Css ******/
@media (max-width: 575px) {
    .influncer_title h1 {
        font-size: 20px;
        margin: 10px 0px 10px 0px;
    }
    .influncer_text p {
        font-size: 15px;
    }
    .influncer_upload a {
        padding: 8px 0px;
        font-size: 14px;
    }
    .gallery_items {
        max-height: 100% !important;
    }
}
